includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # Symfony polyfill bug
    - '/^Access to property \$\w+ of internal class Symfony\\Polyfill\\Php80\\PhpToken from outside its root namespace Symfony/'
